/*, v1.0.3.2 */

html {
    font-size: calc(0.6em + 0.6vw);
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: rgb(75, 75, 75);
    margin: 3px;
}

.chat_window {
    background: white;
    padding: 5px;
    height: 70vh;
    width: 95vw;
    min-height: 400px;
    min-width: 300px;
    border-radius: 5px;
    display: table-cell;
    vertical-align: middle;
}

.flussu-title {
    margin-top: 13px;
    padding: 5px 0px 6px 0px;
    color: rgb(250, 255, 208);
    font-weight: 600;
}

.flussu-par {
    margin-left: 5%;
    padding-right: 20px;
}

.flussu-inpArea,
.flussu-link,
.flussu-select,
.flussu-lbl {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.flussu-lbl {
    display: block;
    padding-top: 15px;
    margin-bottom: -1px;
}

.flussu-inpArea,
.flussu-select {
    width: 85%;
    min-width: 160px;
}

.flussu-btn-redo,
.flussu-lang-btn,
.flussu-btn {
    min-width: 80px;
    border-radius: 8px;
    margin: 8px;
    font-size: 20pt;
    padding: 2px 20px 4px 20px;
    font-weight: 600;
    font-size: 1.4rem;
}

.flussu-lang-btn{
    padding: 6px;
    display: block;
    border:outset 2px white 
}

.flussu-lang-btn{
    padding: 6px;
    display: block;
    border:outset 2px white;
    height: 120px;
    font-size: 1.4rem;
    font-weight: 500;

}


.flussu-btn-row1 {
    text-align: left;
}

.flussu-btn {
    background-color: rgb(17, 112, 54);
}

.flussu-btn-redo {
    background-color: rgb(149, 172, 158);
}

.flussu-btn:hover {
    background-color: rgb(4, 155, 62);
}

.flussu-btn-redo:hover {
    background-color: rgb(149, 172, 158);
}

.flussu-pic {}

.flussu-med-v,
.flussu-med-h,
.flussu-med {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 98%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top:10px;
	margin-bottom:20px;
}

.flussu-inpText {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.9rem;
    width: 100%;
}

.flussu-wrap {}

.flussu-back {
    background: #ffffff;
}
